* {
    margin: 0;
    color: #fff;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    margin-top: 15%;
    text-align: center;
}

h1 {
    margin-bottom: 1em;
}

.game-window {
    border: 1px solid black;
    display: flex;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.cell {
    background-color: pink;
    height: 10px;
    width: 10px;
}

.snake {
    background-color: blue;
    height: 10px;
    width: 10px;
}

.food {
    background-color: red;
    height: 10px;
    width: 10px;
}